@model EmptyProject.Models.Skill

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@ViewBag.PageTitle</h1>

    <ul typeof="circle">@Model.Id.
        <li>@Model.Name</li>
        <li>@Model.Description</li>
        <li>@Model.Commentary</li>
    </ul>
</body>
</html>